.footer-container {
    border-top: 1px solid #bebebe85;
    margin-top: 2rem;
    width: 100%;
    min-height: 80px;
    max-height: 100%;
    background: var(--fotter-bg-color);
    color: var(--fotter-text-color);
    font-size: 18px;
    padding: 18px;
    text-align: center;
}