.gr-top-bar {
    width: 100%;
    display: flex;
    justify-content: center;
    background: var(--secondary-color);
    border-bottom: 1px solid #bebebe85;
}

.gr-top-bar .bar-title {
    font-weight: bold;
    font-size: 3rem;
    color: var(--color-text);
}

.card-img-top {
    background: black;
    max-height: 250px;
    object-fit: contain;
}

h5, h4, p {
    color: var(--color-text);
}

.footer-container {
    border-top: 1px solid #bebebe85;
    margin-top: 2rem;
    width: 100%;
    min-height: 80px;
    max-height: 100%;
    background: var(--fotter-bg-color);
    color: var(--fotter-text-color);
    font-size: 24px;
    padding: 18px;
    text-align: center;
}

@media only screen and (max-width: 800px) {
    .gr-top-bar .bar-title {
        font-size: 2rem;
    }

    .card-columns {
        column-count: 2;
    }
}

@media only screen and (max-width: 580px) {
    .gr-top-bar .bar-title {
        font-size: 1.8rem;
    }

    .card-columns {
        column-count: auto;
    }
}