.card-img-top {
    background: black;
    max-height: 250px;
    object-fit: contain;
}

h5, h4, p {
    color: var(--color-text);
}

@media only screen and (max-width: 800px) {
    .gr-top-bar .bar-title {
        font-size: 2rem;
    }

    .card-columns {
        column-count: 2;
    }
}

@media only screen and (max-width: 580px) {
    .card-columns {
        column-count: auto;
    }
}