.card-img-top {
    background: black;
    max-height: 250px;
    object-fit: contain;
}

a:hover {
    text-decoration: none;
}

h5, h4, p {
    color: var(--color-text);
}

.card {
    background-color: var(--secondary-color);
}

.card-text {
    white-space: pre-wrap;
}

@media only screen and (max-width: 800px) {
    .card-columns {
        column-count: 2;
    }
}

@media only screen and (max-width: 580px) {
    .card-columns {
        column-count: auto;
    }
}