:root {
    --primary-color : #0e1121;
    --secondary-color : linear-gradient(126deg, rgb(255, 195, 30) 70%, rgb(52, 0, 0) 100%);
    --secondary-color-dark : white;
    --color-text: white;
    --title-text-color: black;
    --title-bg-color: white;
    --fotter-bg-color: #ffae00;
    --fotter-text-color: black;
    --card-background: #c5c5c5;
    --tag-background: #ffffff50;
    --tag-text-color: black;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    background-color: var(--primary-color)!important;
}