:root {
    --primary-color : #e6e6e6;
    --secondary-color : #cdcbcb;
    --secondary-color-dark : #bebebe;
    --color-text: black;
    --color-text-secondary: #656565;
    --title-text-color: white;
    --title-bg-color: black;
    --fotter-bg-color: #dededc;
    --fotter-text-color: black;
    --card-background: #d7d7d7;
    --tag-background: #0f2d9b50;
    --tag-text-color: black;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    background-color: var(--primary-color)!important;
}

@font-face {
    font-family: app-font;
    src: url(/pub/app-font.ttf);
}