.gr-top-bar {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    padding: 8px;
}

.gr-top-bar div {
    margin-top: auto;
    margin-bottom: auto;
}

.gr-top-bar .bar-title {
    font-weight: bold;
    font-size: 4rem;
    text-decoration: none;
    color: var(--color-text);
    font-family: app-font, sans-serif;
}

.gr-top-bar .bar-title:hover {
    text-decoration: none;
}

.gr-top-bar .gr-icon {
    width: 80px;
    height: 100%;
    margin-right: 12px;
}

.gr-top-bar .gr-icon img {
    width: 100%;
    object-fit: cover;
}

@media screen and (max-width: 850px) {
    .gr-top-bar .bar-title  {
        font-size: 3rem;
    }
}

@media screen and (max-width: 500px) {
    .gr-top-bar .bar-title  {
        font-size: 2rem;
    }

    .gr-top-bar .gr-icon {
        width: 60px;
    }
}

@media screen and (max-width: 300px) {
    .gr-top-bar .bar-title  {
        font-size: 1rem;
    }

    .gr-top-bar .gr-icon {
        width: 40px;
    }
}