doctype html
html(lang="en")
    - let title = "Exemplo de Artigo"
    include ./head.pug

    body
        div.gr-top-bar
            div.bar-title Overnews

        div.container
            div.article-title-container.row
                div.article-header
                    div.category 
                        span Categoria/#{article.category_content}
                    div.article-title
                        div.font-weight-bold #{article.title}
            
            div.row
                if (article.files[0])
                    div.article-img-set
                        - let file = article.files[0] 
                        img(src=("/assets/" + file.name), alt=(file.name), srcset="")

            div.row
                div.col-8
                    p.article-content= article.content


                div.col-4
                    div.mt-5.secondary-img-content
                        if (article.files[1])
                            - let file = article.files[1] 

                            img(src=("/assets/" + file.name), alt=(file.name), srcset="")

                    div.mt-4.tag-container
                        each tag in article.keywords
                            span.tag-content #{tag.content}


        div.footer-container
            div.font-weight-bold Overnews 2023 IC