doctype html
html(lang="en")
    - let title = "Artigos Aleatórios"
    include ./head.pug
    link(rel="stylesheet", href="/pub/home.css")


    body
        div.gr-top-bar
            a.bar-title(href='/') Overnews (Beta)

        div.container-fluid

            if (articles.length > 0)
                div.mt-5.card-columns
                    each t in articles
                        div.card.bg-dark 
                            if (t.files[0])
                                - let file = t.files[0]
                                
                                a(href=('/articles/' + t.page_path))
                                    img.card-img-top(src=("/assets/" + file.name) target="_blank" alt=(t.title))

                            div.card-body
                                a(href=('/articles/' + t.page_path))
                                    h5.card-title= t.title
                                p.card-text= t.content
                                p.card-text
                                    small.text-muted= t.created

            else
                div.p-5.empty-info
                    h4.text-center Caro leitor, não consegui processar nenhum artigo neste momento. Volte mais tarde para mais detalhes.

        include ./fotter

