doctype html
html(lang="en")
    - let title = "Artigos em Geral"
    include ./head.pug
    link(rel="stylesheet", href="/pub/home.css")


    body
        include ./topBar.pug

        div.container-fluid

            if (articles.length > 0)
                div.mt-5.card-columns
                    each t in articles    
                        div.card
                            if (t.files[0])
                                - let file = t.files[0]
                                
                                a(href=('/articles/' + t.page_path))
                                    - let imgUrl = file.stored === 1 ? ("/assets/" + file.name) : file.url
                                    img.card-img-top(src=(imgUrl) target="_blank" alt=(t.title) style=("background:#" + file.color))

                            div.card-body
                                a(href=('/articles/' + t.page_path))
                                    h5.card-title.font-weight-bold= t.title
                                pre.card-text= t.content
                                p.card-post
                                    small.text-danger.font-weigth-bold= t.created

            else
                div.p-5.empty-info
                    h4.text-center Caro leitor, não consegui processar nenhum artigo neste momento. Volte mais tarde para mais detalhes.

        include ./fotter

